
/* ----------------------------------------------------------------------------------Responisve------------------------------------------------------------- */






/*------------------------------------------------------------------------------- 768px------------------------------------------------------------------------ */


@media (max-width:1400px){

    .navbar-content-destination{
        justify-content: space-around;
        align-items: center;
    }

    .navbar-content-destination ul{
       max-width: 1000px;
    }


    .destination-text-container{
        display: flex;
        gap: 30px;
    }

    .destination-text-container .text1 p{
        position: absolute;
        bottom: 50px;
        left: 80px;
        max-width: 500px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size:30px;
        line-height: 40px;
        color:rgba(78, 75, 102, 1);
    }

    .destination-text-container .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 500px;
        font-family: lato-Bold;
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
    
    }

    table{
        width: 85%;
        max-width: 1400px;
        margin: auto;
    }
    
    table td{
        padding: 20px 30px;
    }
/* 
    .aboutPeopleBg{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 40px;
    }

    .Peoplebg{
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vh;
        
    }

    .aboutPeopleBgText{
        font-size: 20px;
        line-height: 35px;
        gap: 30px;
        max-width:900px;
    }

    .textconent_1 .text_1 h5{
        font-size: 20px;
        line-height: 45px;

    }
    
    .textconent_1 .text_1 p{
        max-width: 430px;
        font-size: 14px;
        line-height: 20px;

    }
     
    .text_2 .text_2H{
        font-size: 20px;
        line-height: 40px;
    }
    
    .text_2 .text_2P {
        max-width: 430px;
        font-size: 14px;
        line-height: 20px;
    }

    .textconent_2 .textconent2_text_1 h5{
        font-size: 20px;
        line-height: 45px;

    }
    
    .textconent_2 .textconent2_text_1 p{
        max-width: 430px;
        font-size: 14px;
        line-height: 20px;

    }
     
    .textconent2_text_2 .text_2H{
        font-size: 20px;
        line-height: 40px;
    }
    
    .textconent2_text_2 .text_2P {
        max-width: 430px;
        font-size: 14px;
        line-height: 20px;
    }


    .sponsor-content{
        background-color: #ededed;
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0px;
        gap: 20px;
        cursor: pointer;
    }

    .sponsor-content img{
        max-width: 200px;
        margin: auto;
    }

    .textoverlay img{
        max-width:350px;
    }

    .about-text-container_2{
        display: flex;
        gap: 30px;
    }

    .about-text-container_2 .text1 p{
        position: absolute;
        bottom: 35px;
        left: 100px;
        max-width: 150px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        color:rgba(78, 75, 102, 1);
    }

    .about-text-container_2 .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 400px;
        font-family: lato-Bold;
        font-size: 13px;
        line-height: 20px;
        text-align: justify;
    
    }

    .personal-boxs{
        max-width: 1100px;
        margin: auto;
    }

    .personal-box{
        max-width:300px;
        padding: 40px 30px;
        gap: 20px;
    }

    .email-addresbtnAbout{
        flex-direction: column;
    }

    .email-addresbtnAbout p{
        text-align: center;
    }
    

    .email-addresbtnAbout .inputbtn{
        position: relative;
        flex-direction: column;
        bottom: -10px;
        justify-content: center;
        align-items: center;

    }


    .email-addresbtnAbout button{
     margin: 30px auto;
     display: flex;
     justify-content: center;
     align-items: center;
    }


    .email-addresbtnAbout input[type="text"]{
        width: 100%;
        max-width: 800px;
       
    }

    .header-footerAbout{
        margin: auto;
        max-width: 250px;


    }

    .header-footerimg{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .header-footerimg img{
        max-width: 200px;
        margin: auto;
    }

    .p-conatiner1{
        display: none;
    }
    


    .footerlinkAbout{
      display: flex;
      justify-content: space-evenly;
    }

    .linksAbout{
        gap: 150px;
    }


    .mostfootercontentAbout{
        padding-top: 10px;
        flex-direction: column;
        gap: 40px;
    }
    

    .mostfootercontentAbout span{
        max-width: 450px;
    } */


}

@media (max-width:1200px){


    .navbar-content-destination{
        justify-content: space-evenly;
        align-items: center;
    }

    .navbar-content-destination ul{
       max-width: 800px;
    }


    .destination-text-container{
        display: flex;
        gap: 30px;
    }

    .destination-text-container .text1 p{
        position: absolute;
        bottom: 35px;
        left: 80px;
        max-width: 350px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size:25px;
        line-height: 35px;
        color:rgba(78, 75, 102, 1);
    }

    .destination-text-container .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 400px;
        font-family: lato-Bold;
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
    
    }

    table{
        width: 85%;
        max-width: 1400px;
        margin: auto;
    }
    
    table td{
        padding: 20px 30px;
    }
       
/* 
    .aboutPeopleBg{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 40px;
    }

    .Peoplebg{
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vh;
        
    }

    .aboutPeopleBgText{
        font-size: 20px;
        line-height: 35px;
        gap: 30px;
        max-width:900px;
    }

    .textconent_1 .text_1 h5{
        font-size: 20px;
        line-height: 45px;

    }
    
    .textconent_1 .text_1 p{
        max-width: 430px;
        font-size: 14px;
        line-height: 20px;

    }
     
    .text_2 .text_2H{
        font-size: 20px;
        line-height: 40px;
    }
    
    .text_2 .text_2P {
        max-width: 430px;
        font-size: 14px;
        line-height: 20px;
    }

    .textconent_2 .textconent2_text_1 h5{
        font-size: 20px;
        line-height: 45px;

    }
    
    .textconent_2 .textconent2_text_1 p{
        max-width: 430px;
        font-size: 14px;
        line-height: 20px;

    }
     
    .textconent2_text_2 .text_2H{
        font-size: 20px;
        line-height: 40px;
    }
    
    .textconent2_text_2 .text_2P {
        max-width: 430px;
        font-size: 14px;
        line-height: 20px;
    }


    .sponsor-content{
        background-color: #ededed;
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0px;
        gap: 20px;
        cursor: pointer;
    }

    .sponsor-content img{
        max-width: 200px;
        margin: auto;
    }

    .textoverlay img{
        max-width:350px;
    }

    .about-text-container_2{
        display: flex;
        gap: 30px;
    }

    .about-text-container_2 .text1 p{
        position: absolute;
        bottom: 35px;
        left: 100px;
        max-width: 150px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        color:rgba(78, 75, 102, 1);
    }

    .about-text-container_2 .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 400px;
        font-family: lato-Bold;
        font-size: 13px;
        line-height: 20px;
        text-align: justify;
    
    }

    .personal-boxs{
        max-width: 1100px;
        margin: auto;
    }

    .personal-box{
        max-width:300px;
        padding: 40px 30px;
        gap: 20px;
    }

    .email-addresbtnAbout{
        flex-direction: column;
    }

    .email-addresbtnAbout p{
        text-align: center;
    }
    

    .email-addresbtnAbout .inputbtn{
        position: relative;
        flex-direction: column;
        bottom: -10px;
        justify-content: center;
        align-items: center;

    }


    .email-addresbtnAbout button{
     margin: 30px auto;
     display: flex;
     justify-content: center;
     align-items: center;
    }


    .email-addresbtnAbout input[type="text"]{
        width: 100%;
        max-width: 800px;
       
    }

    .header-footerAbout{
        margin: auto;
        max-width: 250px;


    }

    .header-footerimg{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .header-footerimg img{
        max-width: 200px;
        margin: auto;
    }

    .p-conatiner1{
        display: none;
    }
    


    .footerlinkAbout{
      display: flex;
      justify-content: space-evenly;
    }

    .linksAbout{
        gap: 150px;
    }


    .mostfootercontentAbout{
        padding-top: 10px;
        flex-direction: column;
        gap: 40px;
    }
    

    .mostfootercontentAbout span{
        max-width: 450px;
    } */


}


@media (max-width:992px){


    .navbar-content-destination{
        justify-content: space-evenly;
        align-items: center;
    }

    .navbar-content-destination ul{
       max-width: 600px;
    }


    .destination-text-container{
        display: flex;
        gap: 10px;
    }

    
    .textoverlay img{
        max-width:400px;
    }

    .destination-text-container .text1 p{
        position: absolute;
        bottom: 20px;
        left: 80px;
        max-width: 300px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size:20px;
        line-height: 35px;
        color:rgba(78, 75, 102, 1);
    }

    .destination-text-container .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 290px;
        font-family: lato-Bold;
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
    
    }

    table{
        width: 85%;
        max-width: 1400px;
        margin: auto;
    }
    
    table td{
        padding: 20px 30px;
    }
/* 
    .aboutPeopleBg{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 40px;
    }

    .Peoplebg{
        background-size: cover;
        height: 40vh;
        
    }

    .aboutPeopleBgText{
        font-size: 13px;
        line-height: 35px;
        gap: 30px;
        max-width:300px;
    }

    .textconent_1{
        flex-direction: column;
    }

    .textconent_1 .text_1 h5{
        font-size: 20px;
        line-height: 10px;

    }
    
    .textconent_1 .text_1 p{
        max-width: 300px;
        font-size: 13px;
        line-height: 20px;

    }
     
    .text_2 .text_2H{
        font-size: 20px;
        line-height: 40px;
    }
    
    .text_2 .text_2P {
        max-width: 300px;
        font-size: 13px;
        line-height: 20px;
    }

    .textconent_2{
        flex-direction: column;

    }


    .textconent_2 .textconent2_text_1 h5{
        font-size: 20px;
        line-height: 10px;

    }
    
    .textconent_2 .textconent2_text_1 p{
        max-width: 300px;
        font-size: 13px;
        line-height: 20px;

    }
     
    .textconent2_text_2 .text_2H{
        font-size: 20px;
        line-height: 40px;
    }
    
    .textconent2_text_2 .text_2P {
        max-width: 300px;
        font-size: 13px;
        line-height: 20px;
    }

    .sponsor-content{
        background-color: #ededed;
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0px;
        gap: 20px;
        cursor: pointer;
    }

    .sponsor-content img{
        max-width: 180px;
        margin: auto;
    } */

    /*----- */

    /* .textoverlay img{
        max-width:350px;
    }

    .about-text-container_2{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .about-text-container_2 .text1 p{
        position: absolute;
        bottom: 35px;
        left: 100px;
        max-width: 180px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        color:rgba(78, 75, 102, 1);
    }

    .about-text-container_2 .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 300px;
        font-family: lato-Bold;
        font-size: 10px;
        line-height: 15px;
        text-align: justify;
    
    }

    .personal-box{
        max-width:300px;
        padding: 40px 30px;
        gap: 20px;
    }

    .email-addresbtnAbout{
        flex-direction: column;
    }

    .email-addresbtnAbout p{
        text-align: center;
    }
    

    .email-addresbtnAbout .inputbtn{
        position: relative;
        flex-direction: column;
        bottom: -10px;
        justify-content: center;
        align-items: center;

    }


    .email-addresbtnAbout button{
     margin: 30px auto;
     display: flex;
     justify-content: center;
     align-items: center;
    }


    .email-addresbtnAbout input[type="text"]{
        width: 100%;
        max-width: 800px;
       
    }

    .header-footerAbout{
        margin: auto;
        max-width: 250px;


    }

    .header-footerimg{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .header-footerimg img{
        max-width: 100px;
        margin: auto;
    }

    .footerlinkAbout{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .p-conatiner1{
        display: none;
    }


    .mostfootercontentAbout{
        padding-top: 10px;
        flex-direction: column;
        gap: 20px;
    }
    

    .linksAbout{
        gap: 50px;
    }


    .mostfootercontentAbout span{
        max-width: 250px;
    } */

}




@media (max-width:768px){

    .navbar-content-destination{
        justify-content: space-around;
        align-items: center;
    }
    

    .navbar-content-destination ul{
        display: none;
    }

    .navbar-barsIcondestination{
        display: inline-block;
        cursor: pointer;
        color: #ffff;
        font-size: 25px;
    }


    .locationimg{
        display: none;
    }

    .destination-text{
        font-size: 30px;

    
    }

    .textoverlay img{
        max-width:300px;
    }

    .destination-text-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .destination-text-container .text1 p{
        position: absolute;
        bottom: 20px;
        left: 50px;
        max-width: 200px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size: 14px;
        line-height:25px;
        color:rgba(78, 75, 102, 1);
    }

    .destination-text-container .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 300px;
        font-family: lato-Bold;
        font-size: 10px;
        line-height: 18px;
        text-align: justify;
    
    }

    table{
        width: 45%;
        max-width: 1400px;
        margin: auto;
    }
    
    table td{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
        padding: 20px 30px;
    }
/* 
    .aboutPeopleBg{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 40px;
    }

    .Peoplebg{
        background-size: cover;
        height: 40vh;
        
    }

    .aboutPeopleBgText{
        font-size: 13px;
        line-height: 35px;
        gap: 30px;
        max-width:300px;
    }

    .textconent_1{
        flex-direction: column;
    }

    .textconent_1 .text_1 h5{
        font-size: 20px;
        line-height: 10px;

    }
    
    .textconent_1 .text_1 p{
        max-width: 300px;
        font-size: 13px;
        line-height: 20px;

    }
     
    .text_2 .text_2H{
        font-size: 20px;
        line-height: 40px;
    }
    
    .text_2 .text_2P {
        max-width: 300px;
        font-size: 13px;
        line-height: 20px;
    }

    .textconent_2{
        flex-direction: column;

    }


    .textconent_2 .textconent2_text_1 h5{
        font-size: 20px;
        line-height: 10px;

    }
    
    .textconent_2 .textconent2_text_1 p{
        max-width: 300px;
        font-size: 13px;
        line-height: 20px;

    }
     
    .textconent2_text_2 .text_2H{
        font-size: 20px;
        line-height: 40px;
    }
    
    .textconent2_text_2 .text_2P {
        max-width: 300px;
        font-size: 13px;
        line-height: 20px;
    }

    .sponsor-content{
        background-color: #ededed;
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0px;
        gap: 20px;
        cursor: pointer;
    }

    .sponsor-content img{
        max-width: 180px;
        margin: auto;
    } */

    /*----- */

    /* .textoverlay img{
        max-width:350px;
    }

    .about-text-container_2{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .about-text-container_2 .text1 p{
        position: absolute;
        bottom: 35px;
        left: 100px;
        max-width: 180px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        color:rgba(78, 75, 102, 1);
    }

    .about-text-container_2 .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 300px;
        font-family: lato-Bold;
        font-size: 10px;
        line-height: 15px;
        text-align: justify;
    
    }

    .personal-box{
        max-width:300px;
        padding: 40px 30px;
        gap: 20px;
    }

    .email-addresbtnAbout{
        flex-direction: column;
    }

    .email-addresbtnAbout p{
        text-align: center;
    }
    

    .email-addresbtnAbout .inputbtn{
        position: relative;
        flex-direction: column;
        bottom: -10px;
        justify-content: center;
        align-items: center;

    }


    .email-addresbtnAbout button{
     margin: 30px auto;
     display: flex;
     justify-content: center;
     align-items: center;
    }


    .email-addresbtnAbout input[type="text"]{
        width: 100%;
        max-width: 800px;
       
    }

    .header-footerAbout{
        margin: auto;
        max-width: 250px;


    }

    .header-footerimg{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .header-footerimg img{
        max-width: 100px;
        margin: auto;
    }

    .footerlinkAbout{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .p-conatiner1{
        display: none;
    }


    .mostfootercontentAbout{
        padding-top: 10px;
        flex-direction: column;
        gap: 20px;
    }
    

    .linksAbout{
        gap: 50px;
    }


    .mostfootercontentAbout span{
        max-width: 250px;
    } */


}

@media (max-width: 576px) {

    .navbar-content-destination{
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    

    .navbar-content-destination ul{
        display: none;
    }

    .navbar-barsIcondestination{
        display: inline-block;
        cursor: pointer;
        color: #ffff;
        font-size: 25px;
    }


    .locationimg{
        display: none;
    }

    .destination-text{
        font-size: 30px;

    
    }

    .textoverlay img{
        max-width:260px;
    }

    .destination-text-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .destination-text-container .text1 p{
        position: absolute;
        bottom: 10px;
        left: 40px;
        max-width: 200px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size: 14px;
        line-height:25px;
        color:rgba(78, 75, 102, 1);
    }

    .destination-text-container .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 250px;
        font-family: lato-Bold;
        font-size: 10px;
        line-height: 15px;
        text-align: justify;
    
    }

    table{
        width: 45%;
        max-width: 1400px;
        margin: auto;
    }
    
    table td{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
        padding: 20px 30px;
    }
/* 
    .aboutPeopleBg{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 40px;
    }

    .Peoplebg{
        background-size: cover;
        height: 40vh;
        
    }

    .aboutPeopleBgText{
        font-size: 13px;
        line-height: 35px;
        gap: 30px;
        max-width:300px;
    }

    .textconent_1{
        flex-direction: column;
    }

    .textconent_1 .text_1 h5{
        font-size: 20px;
        line-height: 10px;

    }
    
    .textconent_1 .text_1 p{
        max-width: 300px;
        font-size: 13px;
        line-height: 20px;

    }
     
    .text_2 .text_2H{
        font-size: 20px;
        line-height: 40px;
    }
    
    .text_2 .text_2P {
        max-width: 300px;
        font-size: 13px;
        line-height: 20px;
    }

    .textconent_2{
        flex-direction: column;

    }


    .textconent_2 .textconent2_text_1 h5{
        font-size: 20px;
        line-height: 10px;

    }
    
    .textconent_2 .textconent2_text_1 p{
        max-width: 300px;
        font-size: 13px;
        line-height: 20px;

    }
     
    .textconent2_text_2 .text_2H{
        font-size: 20px;
        line-height: 40px;
    }
    
    .textconent2_text_2 .text_2P {
        max-width: 300px;
        font-size: 13px;
        line-height: 20px;
    }

    .sponsor-content{
        background-color: #ededed;
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0px;
        gap: 20px;
        cursor: pointer;
    }

    .sponsor-content img{
        max-width: 180px;
        margin: auto;
    } */

    /*----- */

    /* .textoverlay img{
        max-width:350px;
    }

    .about-text-container_2{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .about-text-container_2 .text1 p{
        position: absolute;
        bottom: 35px;
        left: 100px;
        max-width: 180px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        color:rgba(78, 75, 102, 1);
    }

    .about-text-container_2 .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 300px;
        font-family: lato-Bold;
        font-size: 10px;
        line-height: 15px;
        text-align: justify;
    
    }

    .personal-box{
        max-width:300px;
        padding: 40px 30px;
        gap: 20px;
    }

    .email-addresbtnAbout{
        flex-direction: column;
    }

    .email-addresbtnAbout p{
        text-align: center;
    }
    

    .email-addresbtnAbout .inputbtn{
        position: relative;
        flex-direction: column;
        bottom: -10px;
        justify-content: center;
        align-items: center;

    }


    .email-addresbtnAbout button{
     margin: 30px auto;
     display: flex;
     justify-content: center;
     align-items: center;
    }


    .email-addresbtnAbout input[type="text"]{
        width: 100%;
        max-width: 800px;
       
    }

    .header-footerAbout{
        margin: auto;
        max-width: 250px;


    }

    .header-footerimg{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .header-footerimg img{
        max-width: 100px;
        margin: auto;
    }

    .footerlinkAbout{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .p-conatiner1{
        display: none;
    }


    .mostfootercontentAbout{
        padding-top: 10px;
        flex-direction: column;
        gap: 20px;
    }
    

    .linksAbout{
        gap: 50px;
    }


    .mostfootercontentAbout span{
        max-width: 250px;
    } */

  
    



}



@media (max-width: 360px) {

    .navbar-content-about{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .navbar-content-destination{
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    

    .navbar-content-destination ul{
        display: none;
    }

    .navbar-barsIcondestination{
        position: relative;
        left: 10px;
        display: inline-block;
        cursor: pointer;
        color: #ffff;
        font-size: 25px;
    }


    .locationimg{
        display: none;
    }

    .destination-text{
        font-size: 30px;

    
    }

    .textoverlay img{
        max-width:200px;
    }

    .destination-text-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .destination-text-container .text1 p{
        position: absolute;
        bottom: 10px;
        left: 40px;
        max-width: 100px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size: 10px;
        line-height:14px;
        color:rgba(78, 75, 102, 1);
    }

    .destination-text-container .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 170px;
        font-family: lato-Bold;
        font-size: 10px;
        line-height: 15px;
        text-align: justify;
    
    }

    table{
        width: 60%;
        max-width: 1400px;
        margin: auto;
    }
    
    table td{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
        padding: 20px 30px;
    }
/* 
    .aboutPeopleBg{
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-top: 10px;
    }

    .Peoplebg{
        background-size: cover;
        background-position: center;
        height: 40vh;
        
    }

    .aboutPeopleBgText{
        font-size: 10px;
        line-height: 30px;
        gap: 30px;
        max-width: 250px;
    }

    .textconent_1{
        flex-direction: column;
    }

    .textconent_1 .text_1 h5{
        font-size: 15px;
        line-height: 10px;

    }
    
    .textconent_1 .text_1 p{
        max-width: 200px;
        font-size: 10px;
        line-height: 20px;

    }
     
    .text_2 .text_2H{
        font-size: 15px;
        line-height: 40px;
    }
    
    .text_2 .text_2P {
        max-width: 200px;
        font-size: 10px;
        line-height: 20px;
    }

    .textconent_2{
        flex-direction: column;

    }


    .textconent_2 .textconent2_text_1 h5{
        font-size: 15px;
        line-height: 10px;

    }
    
    .textconent_2 .textconent2_text_1 p{
        max-width: 200px;
        font-size: 10px;
        line-height: 20px;

    }
     
    .textconent2_text_2 .text_2H{
        font-size: 15px;
        line-height: 40px;
    }
    
    .textconent2_text_2 .text_2P {
        max-width: 200px;
        font-size: 10px;
        line-height: 20px;
    }

    .sponsor-content{
        background-color: #ededed;
        display: flex;
        flex-direction: column;
        padding: 30px 0px;
        gap: 30px;
        cursor: pointer;
    }

    .sponsor-content img{
        max-width: 150px;
        margin: auto;
    }

    .textoverlay img{
        max-width:100px;
    }

    .about-text-container_2{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .about-text-container_2 .text1 p{
        position: absolute;
        bottom: 10px;
        left: 40px;
        max-width: 30px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size: 2px;
        line-height: 5px;
        color:rgba(78, 75, 102, 1);
    }

    .about-text-container_2 .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 100px;
        font-family: lato-Bold;
        font-size: 5px;
        line-height: 10px;
        text-align: justify;
    
    }

    .personal-box{
        max-width:250px;
        padding: 40px 30px;
        gap: 20px;
    }

    .email-addresbtnAbout .inputbtn{
        position: relative;
        flex-direction: column;
        bottom: 30px;
        justify-content: center;
        align-items: center;

    }

    .email-addresbtnAbout button{
     margin: 30px auto;
     display: flex;
     justify-content: center;
     align-items: center;
    }

    .email-addresbtnAbout input[type="text"]{
        width: 100%;
        max-width: 800px;
       
    }

    .email-addresbtnAbout p{
        display: none;
    }

    .header-footerAbout{
        margin: auto;
        max-width: 250px;


    }

    .header-footerimg{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .header-footerimg img{
        max-width: 100px;
        margin: auto;
    }

    .footerlinkAbout{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .p-conatiner1{
        display: none;
    }


    .mostfootercontentAbout{
        padding-top: 10px;
        flex-direction: column;
        gap: 20px;
    }
    

    .mostfootercontentAbout span{
        max-width: 250px;
    } */

  
    
    

    


}


@media (max-width: 320px) {

    .travellogoimgabout img{
        max-width: 100px;
    }
     

    .navbar-content-destination{
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    

    
    .navbar-content-destination ul{
        display: none;
    }
    
    .navbar-barsIcondestination{
        display: inline-block;
        cursor: pointer;
        color: #ffff;
        font-size: 25px;
    }

    .locationimg{
        display: none;
    }

    .destination-text{
        font-size: 30px;

    
    }

    .textoverlay img{
        max-width:100px;
    }

    .destination-text-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .destination-text-container .text1 p{
        position: absolute;
        bottom: 10px;
        left: 40px;
        max-width: 30px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size: 2px;
        line-height: 5px;
        color:rgba(78, 75, 102, 1);
    }

    .destination-text-container .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 100px;
        font-family: lato-Bold;
        font-size: 5px;
        line-height: 10px;
        text-align: justify;
    
    }

    table{
        width: 60%;
        max-width: 1400px;
        margin: auto;
    }
    
    table,td{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
        padding: 20px 30px;
    }
  
/* 
    .aboutPeopleBg{
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-top: 10px;
    }

    .Peoplebg{
        background-size: cover;
        background-position: center;
        height: 40vh;
        
    }

    .aboutPeopleBgText{
        font-size: 10px;
        line-height: 30px;
        gap: 30px;
        max-width: 250px;
    }

    .textconent_1{
        flex-direction: column;
    }

    .textconent_1 .text_1 h5{
        font-size: 15px;
        line-height: 10px;

    }
    
    .textconent_1 .text_1 p{
        max-width: 200px;
        font-size: 10px;
        line-height: 20px;

    }
     
    .text_2 .text_2H{
        font-size: 15px;
        line-height: 40px;
    }
    
    .text_2 .text_2P {
        max-width: 200px;
        font-size: 10px;
        line-height: 20px;
    }

    .textconent_2{
        flex-direction: column;

    }


    .textconent_2 .textconent2_text_1 h5{
        font-size: 15px;
        line-height: 10px;

    }
    
    .textconent_2 .textconent2_text_1 p{
        max-width: 200px;
        font-size: 10px;
        line-height: 20px;

    }
     
    .textconent2_text_2 .text_2H{
        font-size: 15px;
        line-height: 40px;
    }
    
    .textconent2_text_2 .text_2P {
        max-width: 200px;
        font-size: 10px;
        line-height: 20px;
    }

    .sponsor-content{
        background-color: #ededed;
        display: flex;
        flex-direction: column;
        padding: 30px 0px;
        gap: 30px;
        cursor: pointer;
    }

    .sponsor-content img{
        max-width: 150px;
        margin: auto;
    }


    
    .textoverlay img{
        max-width:100px;
    }

    .about-text-container_2{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .about-text-container_2 .text1 p{
        position: absolute;
        bottom: 10px;
        left: 40px;
        max-width: 30px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size: 2px;
        line-height: 5px;
        color:rgba(78, 75, 102, 1);
    }

    .about-text-container_2 .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 100px;
        font-family: lato-Bold;
        font-size: 5px;
        line-height: 10px;
        text-align: justify;
    
    }

    .personal-box{
        max-width:250px;
        padding: 40px 30px;
        gap: 20px;
    }

    .email-addresbtnAbout .inputbtn{
        position: relative;
        flex-direction: column;
        bottom: 30px;
        justify-content: center;
        align-items: center;

    }

    .email-addresbtnAbout button{
     margin: 30px auto;
     display: flex;
     justify-content: center;
     align-items: center;
    }

    .email-addresbtnAbout input[type="text"]{
        width: 100%;
        max-width: 800px;
       
    }

    .header-footerAbout{
        margin: auto;
        max-width: 250px;


    }

    .header-footerimg{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .header-footerimg img{
        max-width: 100px;
        margin: auto;
    }

    .footerlinkAbout{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .p-conatiner1{
        display: none;
    }


    .mostfootercontentAbout{
        padding-top: 10px;
        flex-direction: column;
        gap: 20px;
    }
    

    .mostfootercontentAbout span{
        max-width: 250px;
    } */

  




}




