
/* ----------------------------------------------------------------------------------Responisve------------------------------------------------------------- */






/*------------------------------------------------------------------------------- 768px------------------------------------------------------------------------ */


@media (max-width:1400px){

    .navbar-content-destination{
        justify-content: space-around;
        align-items: center;
    }

    .navbar-content-destination ul{
       max-width: 1000px;
    }


    .destination-text-container{
        display: flex;
        gap: 30px;
    }

    .destination-text-container .text1 p{
        position: absolute;
        bottom: 50px;
        left: 80px;
        max-width: 500px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size:30px;
        line-height: 40px;
        color:rgba(78, 75, 102, 1);
    }

    .destination-text-container .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 500px;
        font-family: lato-Bold;
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
    
    }

    table{
        width: 85%;
        max-width: 1400px;
        margin: auto;
    }
    
    table td{
        padding: 20px 30px;
    }

}

@media (max-width:1200px){


    .navbar-content-destination{
        justify-content: space-evenly;
        align-items: center;
    }

    .navbar-content-destination ul{
       max-width: 800px;
    }


    .destination-text-container{
        display: flex;
        gap: 30px;
    }

    .destination-text-container .text1 p{
        position: absolute;
        bottom: 35px;
        left: 80px;
        max-width: 350px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size:25px;
        line-height: 35px;
        color:rgba(78, 75, 102, 1);
    }

    .destination-text-container .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 400px;
        font-family: lato-Bold;
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
    
    }

    table{
        width: 85%;
        max-width: 1400px;
        margin: auto;
    }
    
    table td{
        padding: 20px 30px;
    }

    .travel-Boxs{
        max-width: 1100px;
        gap: 30px;
        margin: auto;
    }

    .travel-Box img{
        max-width: 320px;
    }

    .travel-Box-text{
        max-width: 300px;
        bottom: 50px;
    }

    .travel-Box-text-child{
        flex-direction: column;
    }
       

   
    .email-addresbtndestination{
        flex-direction: column;
    }

    .email-addresbtndestination p{
        text-align: center;
    }
    

    .email-addresbtndestination .inputbtn{
        position: relative;
        flex-direction: column;
        bottom: -10px;
        justify-content: center;
        align-items: center;

    }


    .email-addresbtndestination button{
     margin: 30px auto;
     display: flex;
     justify-content: center;
     align-items: center;
    }


    .email-addresbtndestination input[type="text"]{
        width: 100%;
        max-width: 800px;
       
    }

    .header-footerdestination{
        margin: auto;
        max-width: 250px;


    }

    .header-footerimg{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .header-footerimg img{
        max-width: 200px;
        margin: auto;
    }

    .p-conatiner1{
        display: none;
    }
    


    .footerlinkdestination{
      display: flex;
      justify-content: space-evenly;
    }

    .linksdestination{
        gap: 150px;
    }


    .mostfootercontentdestination{
        padding-top: 10px;
        flex-direction: column;
        gap: 40px;
    }
    

    .mostfootercontentdestination span{
        max-width: 450px;
    }


}


@media (max-width:992px){


    .navbar-content-destination{
        justify-content: space-evenly;
        align-items: center;
    }

    .navbar-content-destination ul{
       max-width: 600px;
    }


    .destination-text-container{
        display: flex;
        gap: 10px;
    }

    
    .textoverlay img{
        max-width:400px;
    }

    .destination-text-container .text1 p{
        position: absolute;
        bottom: 20px;
        left: 80px;
        max-width: 300px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size:20px;
        line-height: 35px;
        color:rgba(78, 75, 102, 1);
    }

    .destination-text-container .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 290px;
        font-family: lato-Bold;
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
    
    }

    table{
        width: 85%;
        max-width: 1400px;
        margin: auto;
    }
    
    table td{
        padding: 20px 30px;
    }

    

    .travel-Boxs{
        max-width: 800px;
        gap: 30px;
        margin: auto;
    }

    .travel-Box img{
        max-width: 320px;
    }

    .travel-Box-text{
        max-width: 300px;
        bottom: 50px;
    }

    .travel-Box-text-child{
        flex-direction: column;
    }

    .email-addresbtndestination{
        flex-direction: column;
    }

    .email-addresbtndestination p{
        text-align: center;
    }
    

    .email-addresbtndestination .inputbtn{
        position: relative;
        flex-direction: column;
        bottom: -10px;
        justify-content: center;
        align-items: center;

    }


    .email-addresbtndestination button{
     margin: 30px auto;
     display: flex;
     justify-content: center;
     align-items: center;
    }


    .email-addresbtndestination input[type="text"]{
        width: 100%;
        max-width: 800px;
       
    }

    .header-footerdestination{
        margin: auto;
        max-width: 250px;


    }

    .header-footerimg{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .header-footerimg img{
        max-width: 200px;
        margin: auto;
    }

    .p-conatiner1{
        display: none;
    }
    


    .footerlinkdestination{
      display: flex;
      justify-content: space-evenly;
    }

    .linksdestination{
        gap: 150px;
    }


    .mostfootercontentdestination{
        padding-top: 10px;
        flex-direction: column;
        gap: 40px;
    }
    

    .mostfootercontentdestination span{
        max-width: 450px;
    }

}




@media (max-width:768px){

    .navbar-content-destination{
        justify-content: space-around;
        align-items: center;
    }
    

    .navbar-content-destination ul{
        display: none;
    }

    .navbar-barsIcon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: fit-content;
        cursor: pointer;
        color: #ffff;
        font-size: 20px;
    }

    .locationimg{
        display: none;
    }

    .destination-text{
        font-size: 30px;

    
    }

    .textoverlay img{
        max-width:300px;
    }

    .destination-text-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .destination-text-container .text1 p{
        position: absolute;
        bottom: 20px;
        left: 50px;
        max-width: 200px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size: 14px;
        line-height:25px;
        color:rgba(78, 75, 102, 1);
    }

    .destination-text-container .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 300px;
        font-family: lato-Bold;
        font-size: 10px;
        line-height: 18px;
        text-align: justify;
    
    }

    table{
        width: 45%;
        max-width: 1400px;
        margin: auto;
    }
    
    table td{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
        padding: 20px 30px;
    }


    .travel-Boxs{
        max-width: 500px;
        margin: auto;
    }

    .travel-Box img{
        max-width: 320px;
    }

    .travel-Box-text{
        max-width: 300px;
        bottom: 50px;
    }

    .travel-Box-text-child{
        flex-direction: column;
    }

    .email-addresbtndestination p{
        display: none;
    }
}

@media (max-width: 576px) {

    .navbar-content-destination{
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    

    .navbar-content-destination ul{
        display: none;
    }

    .navbar-barsIcon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: fit-content;
        cursor: pointer;
        color: #ffff;
        font-size: 20px;
    }

    .locationimg{
        display: none;
    }

    .destination-text{
        font-size: 30px;

    
    }

    .textoverlay img{
        max-width:260px;
    }

    .destination-text-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .destination-text-container .text1 p{
        position: absolute;
        bottom: 10px;
        left: 40px;
        max-width: 200px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size: 14px;
        line-height:25px;
        color:rgba(78, 75, 102, 1);
    }

    .destination-text-container .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 250px;
        font-family: lato-Bold;
        font-size: 10px;
        line-height: 15px;
        text-align: justify;
    
    }

    table{
        width: 45%;
        max-width: 1400px;
        margin: auto;
    }
    
    table td{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
        padding: 20px 30px;
    }

    .travel-Boxs{
        max-width: 400px;
        margin: auto;
    }

    .travel-Box img{
        max-width: 250px;
    }

    .travel-Box-text{
        max-width: 230px;
        bottom: 50px;
    }

    .travel-Box-text-child{
        flex-direction: column;
    }

    .email-addresbtndestination{
        flex-direction: column;
    }

    .email-addresbtndestination p{
        text-align: center;
    }
    

    .email-addresbtndestination .inputbtn{
        position: relative;
        flex-direction: column;
        bottom: -10px;
        justify-content: center;
        align-items: center;

    }


    .email-addresbtndestination button{
     margin: 30px auto;
     display: flex;
     justify-content: center;
     align-items: center;
    }


    .email-addresbtndestination input[type="text"]{
        width: 100%;
        max-width: 800px;
       
    }

    .email-addresbtndestination{
        margin: auto;
        max-width: 250px;


    }

    .header-footerimg{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .header-footerimg img{
        max-width: 100px;
        margin: auto;
    }

    .footerlinkdestination{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .p-conatiner1{
        display: none;
    }


    .mostfootercontentdestination{
        padding-top: 10px;
        flex-direction: column;
        gap: 20px;
    }
    

    .linksdestination{
        gap: 50px;
    }


    .mostfootercontentdestination span{
        max-width: 250px;
    }

    .email-addresbtndestination p{
        display: none;
    }
}



@media (max-width: 360px) {

    .navbar-content-destination{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .navbar-content-destination{
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    

    .navbar-content-destination ul{
        display: none;
    }

    .navbar-barsIcon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: fit-content;
        cursor: pointer;
        color: #ffff;
        font-size: 20px;
    }


    .locationimg{
        display: none;
    }

    .destination-text{
        font-size: 30px;

    
    }

    .textoverlay img{
        max-width:200px;
    }

    .destination-text-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .destination-text-container .text1 p{
        position: absolute;
        bottom: 10px;
        left: 40px;
        max-width: 100px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size: 10px;
        line-height:14px;
        color:rgba(78, 75, 102, 1);
    }

    .destination-text-container .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 170px;
        font-family: lato-Bold;
        font-size: 10px;
        line-height: 15px;
        text-align: justify;
    
    }

    table{
        width: 60%;
        max-width: 1400px;
        margin: auto;
    }
    
    table td{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
        padding: 20px 30px;
    }

    .travel-Box img{
        max-width: 250px;
    }

    .travel-Box-text{
        max-width: 230px;
        bottom: 50px;
    }

    .travel-Box-text-child{
        flex-direction: column;
    }

    .email-addresbtndestination.inputbtn{
        position: relative;
        flex-direction: column;
        bottom: 30px;
        justify-content: center;
        align-items: center;

    }

    .email-email-addresbtndestination button{
     margin: 30px auto;
     display: flex;
     justify-content: center;
     align-items: center;
    }

    .email-addresbtndestination input[type="text"]{
        width: 100%;
        max-width: 800px;
       
    }

    .email-addresbtndestination p{
        display: none;
    }

    .header-footerdestination{
        margin: auto;
        max-width: 250px;


    }

    .header-footerimg{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .header-footerimg img{
        max-width: 100px;
        margin: auto;
    }

    .footerlinkdestination{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .p-conatiner1{
        display: none;
    }


    .mostfootercontentdestination{
        padding-top: 10px;
        flex-direction: column;
        gap: 20px;
    }
    

    .mostfootercontentdestination span{
        max-width: 250px;
    }

  
    
    

    


}




