@font-face {
    font-family: Roboto-Regular;
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-light;
    src: url(../font/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Meduim;
    src: url(../font/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-MediumItalic;
    src: url(../font/Roboto-MediumItalic.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../font/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-BoldItalic;
    src: url(../font/Roboto-BoldItalic.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

header{
    background-image: url(../img/navbartravelbg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 587px;
    padding: 10px 30px;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-content ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    padding: 0px 10px;


}

.navbar-content ul li a{
    color: #FFA500;
    font-family: Roboto-Meduim;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
}


.navbar-content ul li:nth-child(1){
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #0333F1;
}

.headerinfermation{
    display: flex;
    margin: 30px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerinfermation .spanP{
    font-family: Roboto-Meduim;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #ffff;
    margin: 20px 0px;
}

span{
  color: #FFA500;
}

.headerinfermation .p2navbarcontnet{
    font-family: Roboto-Meduim;
    font-weight: 800;
    font-size: 64px;
    line-height: 89px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 30px 30px;
    color: #fff;

}


.headerinfermation button{
    padding: 20px 30px;
    font-family: Roboto-Meduim;
    cursor: pointer;
    background-color: #0333F1;
    color: #fff;
    border: none;
    
}


.headerinfermation .p3navbarcontnet{
    margin-top: 30px;
    color: #fff;
    font-family: Roboto-Meduim;

}

.headerinfermation img {
    margin-top: 30px;
    cursor: pointer;
}

.locationimg img{
    position: relative;
    bottom: 120px;
    left: 600px;
}

.content_1{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 0px 3px;
    margin-left: 50px;
    padding-bottom: 10px;
}

.content_1 h5{
    width: 300px;
    font-family: Roboto-light;
    font-weight: 700;
    font-size: 29.65px;
    padding: 10px 0px;
    text-align: center;
    margin:  auto;
    
}

.content_1 p{
    width: 363px;
    margin: 10px auto;
    font-weight: 500;
    font-size: 16.38px;
    font-family: Roboto-Meduim;
    line-height: 20.64px;
}


.content_1 button{
    margin-top: 20px;
    padding: 15px 40px;
    background-color: #0333F1;
    color: #fff;
    font-family: Roboto-Meduim;
    border-radius: 5px;
}

.content_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0px 0px 3px;
}

.content_2 h5{
    padding: 30px;
    width: 300px;
    font-family: Roboto-light;
    font-weight: 700;
    font-size: 29.65px;
    text-align: center;
    margin:  auto;
    
}

.content_2P-all{
    margin-top: 50px;
    display: flex;
    gap: 100px;
    
   
}

.content_2P-all .namep p{
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    margin-top: 10px;
    
    
    
}

.content_2P-all .numberp p{
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    margin-top: 10px;
}


.content_3{
    margin-left: 50px;
    width: 100%;
    max-width: 445px;
    height: 400px;

}


.content_3 h3{
    text-align: center;
    margin-top: 30px;
    padding: 20px 0px;
    background-color: #fff;
    box-shadow: 0px 0px 4px;
    width: 100%;
    max-width: 400px;
    
}

.tblisiGoargiaImg img{
    width: 400px;
}

.content_3 .tblisiGoargiachild1{
    position: relative;
    font-family: Roboto-Meduim;
    margin: auto;
    top: 40px;
    width: 100%;
    max-width: 300px;
    color: #fff;
}

.content_3 .tblisiGoargiachild2{
    position: relative;
    font-family: Roboto-Bold;
    font-weight: 700;
    font-size: 31.64px;
    margin: auto;
    bottom: 200px;
    line-height: 47px;
    width: 100%;
    max-width: 350px;
    color: #ffffff;

}

.iconleftandRight{
    display: flex;
    gap: 30px;
    position: relative;
    bottom: 50px;
    left: 40px;
}

.fa-chevron-left{
    background-color: #fff;
    padding: 10px 10px;
    cursor: pointer;

}

.fa-chevron-right{
    background-color: #fff;
    padding: 10px 10px;
    cursor: pointer;
 

}

.content_4{
    margin-left: 50px;
    width: 100%;
    max-width: 445px;
}

.content_4 h3{
    text-align: center;
    margin-top: 30px;
    padding: 20px 0px;
    background-color: #fff;
    box-shadow: 0px 0px 4px;
    width: 100%;
    max-width: 400px;
}

.proje{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}



.projetext p:nth-child(1){
    font-family: Roboto-light;
    font-weight: 700;
    color: #0A0909;
    font-size: 18px;
    line-height: 33.18px;

}

.projetext p:nth-child(2){
    color: #000000;
    font-family: Roboto-Meduim;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;

}

.content_5{
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 50px;
    width: 100%;
    max-width: 408px;
    box-shadow: 0px 0px 3px;
}

.content_5 h2:nth-child(1){
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    max-width: 400px;

}

.content_5 h2:nth-child(2){
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
    max-width: 400px;

}

.content_5 p{
    text-align: center;
    width: 100%;
    font-weight: 300;
    line-height: 33.81px;
    margin-bottom: 30px;
    max-width: 345px;
    font-size: 24px;
    color: #0B0A0A;
}

.content_5 button{
    padding: 20px 50px;
    color: #fff;
    border: none;
    background-color: #0333F1;
    border-radius: 8px;
    cursor: pointer;
}

/* CONTENT6 */


.content_6{
    margin-left: 50px;
    width: 100%;
    max-width: 445px;
}

.content_6 h3{
    text-align: center;
    font-family: Roboto-Meduim;
    margin-top: 30px;
    padding: 20px 0px;
    background-color: #fff;
    box-shadow: 0px 0px 4px;
    width: 100%;
    max-width: 400px;
}

.ProductThatIHaveProje{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}



.ProductThatIHaveprojetext p:nth-child(1){
    font-family: Roboto-light;
    width: 100%;
    max-width: 330px;
    font-weight: 600;
    color: #000000;
    font-size: 24px;
    line-height: 30px;

}

.ProductThatIHaveprojetext p:nth-child(2){
    color: #0336FF;
    font-family: Roboto-Meduim;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;

}

.content_7{
    margin-left: 50px;
    width: 100%;
    max-width: 445px;
}

.content_7 h3{
    text-align: center;
    font-family: Roboto-Meduim;
    margin-top: 30px;
    padding: 20px 0px;
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 0px 0px 4px;
    width: 100%;
    max-width: 400px;
}

.socialNetwork{
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 400px;
    padding-bottom: 30px;
}

.socialNetwork .facebook{
    background-color: #4056AC;
    width: 100%;
    max-width: 182px;
    padding: 10px 10px;
    display: flex;
    color: #fff;
    align-items: center;
    gap: 30px;
    border-radius: 8px;
}

.socialNetwork .x-twitter{
    background-color: #000000;
    width: 100%;
    max-width: 182px;
    padding: 10px 10px;
    display: flex;
    color: #fff;
    align-items: center;
    gap: 30px;
    border-radius: 8px;

}


.socialNetwork .youtube{
    background-color: #FE2C3C;
    width: 100%;
    max-width: 182px;
    padding: 10px 10px;
    display: flex;
    color: #fff;
    align-items: center;
    gap: 30px;
    border-radius: 8px;

}

.socialNetwork .Instagram{
    background-color: #E14D93;
    width: 100%;
    max-width: 182px;
    padding: 10px 10px;
    display: flex;
    color: #fff;
    align-items: center;
    gap: 30px;
    border-radius: 8px;

}