@font-face {
    font-family: Roboto-Regular;
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-light;
    src: url(../font/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Meduim;
    src: url(../font/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-MediumItalic;
    src: url(../font/Roboto-MediumItalic.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../font/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-BoldItalic;
    src: url(../font/Roboto-BoldItalic.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    background-color: #FEFEFE;
}

header{
    position: relative;
    background-image: url(../img/navbartravelbg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: fit-content;
    padding: 10px 30px;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-content ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    padding: 0px 10px;


}

.navbar-content ul li a{
    color: #FFA500;
    font-family: Roboto-Meduim;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
}


.navbar-content ul li:nth-child(1){
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #0333F1;
}


.navbar-barsIcon{
    display: none;
}
.headerinfermation{
    display: flex;
    margin: 30px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.headerinfermation .spanP{
    font-family: Roboto-Meduim;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #ffff;
    margin: 20px 0px;
}

span{
  color: #FFA500;
}

.headerinfermation .p2navbarcontnet{
    font-family: Roboto-Meduim;
    font-weight: 800;
    font-size: 64px;
    line-height: 89px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 30px 30px;
    color: #fff;

}


.headerinfermation button{
    padding: 20px 40px;
    border-radius: 10px;
    font-family: Roboto-Meduim;
    cursor: pointer;
    background-color: #0333F1;
    color: #fff;
    border: none;
    
}


.downarrowimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: #fff;
    gap: 30px;
    font-family: Roboto-Meduim;

}

.locationimg{
    position: absolute;
    bottom: 0px;
    right:30px;


}


.headerinfermation img {
    margin-top: 30px;
    cursor: pointer;
    
}

.container_1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content_1{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 0px 3px;

    padding-bottom: 10px;
}

.content_1 h5{
    width: 300px;
    font-family: Roboto-light;
    font-weight: 700;
    font-size: 29.65px;
    padding: 10px 0px;
    text-align: center;
    margin:  auto;
    
}

.content_1 p{
    width: 363px;
    margin: 10px auto;
    font-weight: 500;
    font-size: 16.38px;
    font-family: Roboto-Meduim;
    line-height: 20.64px;
}


.content_1 button{
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 15px 40px;
    background-color: #0333F1;
    color: #fff;
    font-family: Roboto-Meduim;
    border-radius: 5px;
}

.content_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0px 0px 3px;
}

.content_2 h5{
    padding: 30px;
    width: 300px;
    font-family: Roboto-light;
    font-weight: 700;
    font-size: 29.65px;
    text-align: center;
    margin:  auto;
    
}

.content_2P-all{
    margin-top: 50px;
    display: flex;
    gap: 100px;
    
   
}

.content_2P-all .namep p{
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    margin-top: 10px;
    
    
    
}

.content_2P-all .numberp p{
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    margin-top: 10px;
}


.content_3{

    max-width: 400px;
    height: 400px;
}


.content_3 h3{
    text-align: center;
    padding: 20px 0px;
    background-color: #fff;
    box-shadow: 0px 0px 4px;
    width: 100%;
    max-width: 400px;
    
}

.tblisiGoargiaImg img{
    width: 100%;
    max-width: 400px;
    
}

.content_3 .tblisiGoargiachild1{
    position: relative;
    font-family: Roboto-Meduim;
    margin: auto;
    top: 40px;
    width: 100%;
    max-width: 300px;
    color: #fff;
}

.content_3 .tblisiGoargiachild2{
    position: relative;
    font-family: Roboto-Bold;
    font-weight: 700;
    font-size: 31.64px;
    margin: auto;
    bottom: 200px;
    line-height: 47px;
    width: 100%;
    max-width: 350px;
    color: #ffffff;

}

.iconleftandRight{
    display: flex;
    gap: 30px;
    position: relative;
    bottom: 50px;
    left: 40px;
}

.fa-chevron-left{
    background-color: #fff;
    padding: 10px 10px;
    cursor: pointer;

}

.fa-chevron-right{
    background-color: #fff;
    padding: 10px 10px;
    cursor: pointer;
 

}

.content_4{
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.content_4 h3{
    text-align: center;
    padding: 20px 0px;
    background-color: #fff;
    box-shadow: 0px 0px 4px;
    width: 100%;
    max-width: 400px;
}

.proje{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}



.projetext p:nth-child(1){
    font-family: Roboto-light;
    font-weight: 700;
    color: #0A0909;
    font-size: 18px;
    line-height: 33.18px;

}

.projetext p:nth-child(2){
    color: #000000;
    font-family: Roboto-Meduim;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;

}

.content_5{
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 408px;
    box-shadow: 0px 0px 3px;
}

.content_5 h2:nth-child(1){
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    max-width: 400px;

}

.content_5 h2:nth-child(2){
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
    max-width: 400px;

}

.content_5 p{
    text-align: center;
    width: 100%;
    font-weight: 300;
    line-height: 33.81px;
    margin-bottom: 30px;
    max-width: 345px;
    font-size: 24px;
    color: #0B0A0A;
}

.content_5 button{
    padding: 20px 50px;
    color: #fff;
    border: none;
    background-color: #0333F1;
    border-radius: 8px;
    cursor: pointer;
}

/* CONTENT6 */


.content_6{

    width: 100%;
    max-width: 400px;
}

.content_6 h3{
    text-align: center;
    font-family: Roboto-Meduim;
    padding: 20px 0px;
    background-color: #fff;
    box-shadow: 0px 0px 4px;
    width: 100%;
    max-width: 400px;
}

.ProductThatIHaveProje{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}



.ProductThatIHaveprojetext p:nth-child(1){
    font-family: Roboto-light;
    width: 100%;
    max-width: 330px;
    font-weight: 600;
    color: #000000;
    font-size: 24px;
    line-height: 30px;

}

.ProductThatIHaveprojetext p:nth-child(2){
    color: #0336FF;
    font-family: Roboto-Meduim;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;

}

.content_7{
    width: 100%;
    max-width: 445px;
}

.content_7 h3{
    text-align: center;
    font-family: Roboto-Meduim;
    padding: 20px 0px;
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 0px 0px 4px;
    width: 100%;
    max-width: 400px;
}

.socialNetwork{
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 400px;
    padding-bottom: 30px;
}

.socialNetwork .facebook{
    background-color: #4056AC;
    width: 100%;
    max-width: 182px;
    padding: 10px 10px;
    display: flex;
    color: #fff;
    align-items: center;
    gap: 30px;
    border-radius: 8px;
}

.socialNetwork .x-twitter{
    background-color: #000000;
    width: 100%;
    max-width: 182px;
    padding: 10px 10px;
    display: flex;
    color: #fff;
    align-items: center;
    gap: 30px;
    border-radius: 8px;

}


.socialNetwork .youtube{
    background-color: #FE2C3C;
    width: 100%;
    max-width: 182px;
    padding: 10px 10px;
    display: flex;
    color: #fff;
    align-items: center;
    gap: 30px;
    border-radius: 8px;

}

.socialNetwork .Instagram{
    background-color: #E14D93;
    width: 100%;
    max-width: 182px;
    padding: 10px 10px;
    display: flex;
    color: #fff;
    align-items: center;
    gap: 30px;
    border-radius: 8px;

}

main{
    display: flex;
    gap: 50px;
    margin: auto;
    width: 100%;
    max-width: 1300px;
}


.container_2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container2_content1{
    margin-top: 50px;
    background-color:#FFFFFF;
    height: fit-content;
    box-shadow: 0px 0px 3px;
}

.content1text{
    position: relative;   
    padding: 20px 30px;
}



.content1text .child1first{
    font-family: Roboto-light;
    width: 100%;
    max-width: 284px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    color: #000000;

}


.content1text .child2 {
    font-family: Roboto-Meduim;
    font-weight: 600;
    font-size: 31.64px;
    width: 100%;
    max-width: 700px;
    margin-top: 30px;
    margin-bottom: 15px;

}

.content1text .child3last{
    font-family: Roboto-Meduim;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    width: 100%;
    max-width: 686px;
    margin-top: 30px;
    margin-bottom: 50px;

}

.content1Icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.content1Icon span{
    font-family: Roboto-Meduim;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    color: #000000;
}


.content1Icon i{
    color: #FFA500;
}

.content1Icon .location{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content1Icon .comment{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container2_content2{
    width: 100%;
    max-width: 374.5px;
    display: flex;
    gap: 20px;
    
    
}

.container2_content2_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px;
    height: fit-content;
}




.content2text{
    position: relative;
    padding: 20px 30px;
    
}

.content2text .content2_child1{
    color: #000000;
    font-family: Roboto-light;
    width: 100%;
    max-width: 331px;
    font-weight: 500;
    font-size: 18px;
    line-height: 33.81px;
}


.content2text .content2_child2{
    color: #000000;
    font-family: Roboto-Meduim;
    width: 100%;
    max-width: 331px;
    font-weight: 700;
    margin-bottom: 50px;
    font-size: 32px;
    line-height: 46.64px;
}

.content2Icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content2_location{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content2_comment{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.container2_content2_1 i{
    color: #FFA500;
}


.content2Icon span{
    font-family: Roboto-Meduim;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    color: #000000;
    
}

/* cotainer content-3 */


.container2_content3{
    background-color:#FFFFFF;
    height: fit-content;
    box-shadow: 0px 0px 3px;
}

.content3text{
    position: relative;   
    padding: 20px 30px;
}



.content3text .content3_child1{
    font-family: Roboto-light;
    width: 100%;
    max-width: 284px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    color: #000000;

}

.content3text .content3_child2 {
    font-family: Roboto-Meduim;
    font-weight: 600;
    font-size: 31.64px;
    width: 100%;
    max-width: 700px;
    margin-top: 30px;
    margin-bottom: 15px;

}

.content3text .content3_child3{
    font-family: Roboto-Meduim;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    width: 100%;
    max-width: 686px;
    margin-top: 30px;
    margin-bottom: 50px;

}

.content3Icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    
}

.content3Icon p{
    font-family: Roboto-Meduim;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    color: #000000;

}

.content3Icon i{
    color: #FFA500;
}

.content3Icon .content3_location{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.content3Icon .content3_comment{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* container2 content4 */



.container2_content4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/shpingCreditCart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
   

}




.container2_content4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container2_content4 p{
    position: relative;
    top: 50px;
    font-family: Roboto-Meduim;
    width: 100%;
    max-width: 746px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.container2_content4 button{
    font-family: Roboto-Meduim;
    position: relative;
    top: 50px;
    padding: 15px 50px;
    margin-top: 30px;
    background-color: #0336FF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

/* container2 content5 */

.container2_content5{
    width: 100%;
    max-width: 374.5px;
    display: flex;
    gap: 20px;
    
    
}

.container2_content5In{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px;
    height: fit-content;
}




.content5text{
    position: relative;
    padding: 20px 30px;
   
    
}

.content5text .content5_child1{
    color: #000000;
    font-family: Roboto-light;
    width: 100%;
    max-width: 331px;
    font-weight: 500;
    font-size: 18px;
    line-height: 33.81px;
}



.content5text .content5_child2{
    color: #000000;
    font-family: Roboto-light;
    width: 100%;
    max-width: 331px;
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 33.81px;
}


.content5text .content5_child2{
    color: #000000;
    font-family: Roboto-Meduim;
    width: 100%;
    max-width: 331px;
    font-weight: 700;
    margin-bottom: 50px;
    font-size: 32px;
    line-height: 46.64px;
}

.container2_content5In .content5Icon{
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 15px 20px;


    
}

.content5_location{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content5_comment{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.container2_content5In i{
    color: #FFA500;
}


.content5Icon span{
    font-family: Roboto-Meduim;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    color: #000000;
    
}



/* container2 content6 */

.container2_content6{
    width: 100%;
    max-width: 374.5px;
    display: flex;
    gap: 20px;
    
    
}

.container2_content6In{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px;
    height: fit-content;
}




.content6text{
    position: relative;
    padding: 20px 30px;
   
    
}

.content6text .content6_child1{
    color: #000000;
    font-family: Roboto-light;
    width: 100%;
    max-width: 331px;
    font-weight: 500;
    font-size: 18px;
    line-height: 33.81px;
}


.content6text .content6_child2{
    color: #000000;
    font-family: Roboto-light;
    width: 100%;
    max-width: 331px;
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 33.81px;
}


.content6text .content6_child2{
    color: #000000;
    font-family: Roboto-Meduim;
    width: 100%;
    max-width: 331px;
    font-weight: 700;
    margin-bottom: 50px;
    font-size: 32px;
    line-height: 46.64px;
}

.container2_content6In{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content6Icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 15px 20px;
}

.container2_content6In .content6_location{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content6_comment{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.container2_content6In i{
    color: #FFA500;
}


.content6Icon span{
    font-family: Roboto-Meduim;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    color: #000000;
    
}


/* container2 content7 */

.container2_content7{
    background-color:#FFFFFF;
    height: fit-content;
    box-shadow: 0px 0px 3px;
}

.content7text{
    position: relative;   
    padding: 20px 30px;
}



.content7text .content7_child1{
    font-family: Roboto-light;
    width: 100%;
    max-width: 284px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    color: #000000;

}



.content7text .content7_child2 {
    font-family: Roboto-Meduim;
    font-weight: 600;
    font-size: 31.64px;
    width: 100%;
    max-width: 700px;
    margin-top: 30px;
    margin-bottom: 15px;

}

.content7text .content7_child3{
    font-family: Roboto-Meduim;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    width: 100%;
    max-width: 686px;
    margin-top: 30px;
    margin-bottom: 50px;

}

.content7Icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    
}

.content7Icon span{
    font-family: Roboto-Meduim;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    color: #000000;
}

.content7Icon i{
    color: #FFA500;
}

.content7Icon .content7_location{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content7Icon .content7_comment{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* container2 content8 */


.container2_content8{
    width: 100%;
    max-width: 374.5px;
    display: flex;
    gap: 20px;
    
    
}

.container2_content8In{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px;
    height: fit-content;
    margin-bottom: 50px;
}


.content8text{
    position: relative;
    padding: 20px 30px;
   
    
}

.content8text .content8_child1{
    color: #000000;
    font-family: Roboto-light;
    width: 100%;
    max-width: 331px;
    font-weight: 500;
    font-size: 18px;
    line-height: 33.81px;
}





.content8text .content8_child2{
    color: #000000;
    font-family: Roboto-light;
    width: 100%;
    max-width: 331px;
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 33.81px;
}


.content8text .content8_child2{
    color: #000000;
    font-family: Roboto-Meduim;
    width: 100%;
    max-width: 331px;
    font-weight: 700;
    margin-bottom: 50px;
    font-size: 32px;
    line-height: 46.64px;
}

.content8Icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 15px 20px;
}

.content8_location{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content8_comment{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.content8Icon i{
    color: #FFA500;
}


.content8Icon span{
    font-family: Roboto-Meduim;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    color: #000000;
    
}


.bgimg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-image: url(../img/bgfooter.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 296px;

}



.button-btn button{
    padding: 12px 30px;
    background-color: #0333F1;
    border: none;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;

}


.email-addresbtn {
    display: flex;
    padding: 50px 30px;
    gap: 50px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}


.email-addresbtn p{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    width: 100%;
    max-width: 474px;
}

.email-addresbtn span{
    color: #0333F1;
}


input[type="text"]{
    position: relative;
    width: 100%;
    max-width: 330px;
    padding: 10px 20px;
    font-size: 30px;
    height: 50px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #C4C4C4;
}


input[type="text"]::placeholder{
    position: absolute;
    font-size: 20px;
    top:13px;
    
}


.btn-email-input{
    display: flex;
    gap: 20px;
}


.btn-email-input button{
    padding: 12px 30px;
    background-color: #0333F1;
    border: none;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
}


.header-footer{
    padding-top: 50px;
    padding-bottom: 10px;
    border-top: 1px solid #cdcdcd;
    display: flex;
    justify-content:space-between;
    align-items: center;


}


.header-footerimg{
    margin: auto;
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-footerimg ul{
    display:  flex;
    gap: 50px;
}

.header-footerimg ul li a{
    font-family: Roboto-Meduim;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
}

.footer-contnet{
    background-color: #535353;
    color: #EEEEEE;
}

.footerlink{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    padding: 30px 30px;
    max-width: 1100px;
}

.footerlink .footer-contnetChild1{
    max-width: 337px;
    margin-bottom: 40px;
}

.footerlink .footer-contnetChild2{
    max-width: 337px;
}


.footer-contnetChild3{
    max-width: 153px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 20px;
}

.p-conatiner2 ul li {
    margin-top: 20px;
}

.p-conatiner2 ul li a{
    color: #EEEEEE;
}

.linkConatiner3 ul li, .linkConatiner4 ul li {
    margin-top: 25px;
}

.linkConatiner3 ul li a, .linkConatiner4 ul li a{
   color:#EEEEEE;
}

.mostfootercontent{
    margin: auto;
    border-top: 1px solid #EEEEEE;
    padding-top: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.linksContact{
    display: flex;
    gap: 30px;
}


.socialNetworkIconFooter{
    display: flex;;
    gap: 20px;
}

/* open navbar bars icon */

.navbar-barsIcon-links{
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0px;
    background-color: #C4C4C4;
    padding: 50px;
    width: 100%;
    max-width: 250px;
    height: 100vh;
    border: 2px solid yellowgreen ;
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
}

.navbar-barsIcon-links i{
    font-size: 30px;
    color: #000000;
}

.navbar-barsIcon-links a {
    padding: 10px;
    color: #000;
    font-family: Roboto-Meduim;
}

#links{
    display: none;
}


























