
/* ----------------------------------------------------------------------------------Responisve------------------------------------------------------------- */






/*------------------------------------------------------------------------------- 768px------------------------------------------------------------------------ */


@media (max-width:1400px){

    .navbar-content{
        justify-content: space-around;
        align-items: center;
    }

    .navbar-content- ul{
       max-width: 1000px;
    }


    .text-container{
        display: flex;
        gap: 30px;
    }

    .text-container .text1 p{
        position: absolute;
        bottom: 50px;
        left: 80px;
        max-width: 500px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size:30px;
        line-height: 40px;
        color:rgba(78, 75, 102, 1);
    }

    .text-container .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 500px;
        font-family: lato-Bold;
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
    
    }

    table{
        width: 85%;
        max-width: 1400px;
        margin: auto;
    }
    
    table td{
        padding: 20px 30px;
    }

}

@media (max-width:1200px){


    .navbar-content-tips{
        justify-content: space-evenly;
        align-items: center;
    }

    .navbar-content-tips ul{
       max-width: 800px;
    }


    .tips-text-container{
        display: flex;
        gap: 30px;
    }

    .tips-text-container .text1 p{
        position: absolute;
        bottom: 35px;
        left: 80px;
        max-width: 350px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size:25px;
        line-height: 35px;
        color:rgba(78, 75, 102, 1);
    }

    .tips-text-container .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 400px;
        font-family: lato-Bold;
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
    
    }

    .travel-boxs{
        margin: auto;
        max-width: 1200px;
    }

    .travel-box{
        max-width: 350px;
    }

    .travel-box img{
        max-width: 350px;
    }


    table{
        width: 85%;
        max-width: 1400px;
        margin: auto;
    }
    
    table td{
        padding: 20px 30px;
    }

    .travel-Boxs{
        max-width: 1100px;
        gap: 30px;
        margin: auto;
    }

    .travel-Box img{
        max-width: 320px;
    }

    .travel-Box-text{
        max-width: 300px;
        bottom: 50px;
    }

    .travel-Box-text-child{
        flex-direction: column;
    }
       

   
    .email-addresbtntips{
        flex-direction: column;
    }

    .email-addresbtntips p{
        text-align: center;
    }
    

    .email-addresbtntips .inputbtn{
        position: relative;
        flex-direction: column;
        bottom: -10px;
        justify-content: center;
        align-items: center;

    }


    .email-addresbtntips button{
     margin: 30px auto;
     display: flex;
     justify-content: center;
     align-items: center;
    }


    .email-addresbtntips input[type="text"]{
        width: 100%;
        max-width: 800px;
       
    }

    .header-footertips{
        margin: auto;
        max-width: 250px;


    }

    .header-footerimg{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .header-footerimg img{
        max-width: 200px;
        margin: auto;
    }

    .p-conatiner1{
        display: none;
    }
    


    .footerlinktips{
      display: flex;
      justify-content: space-evenly;
    }

    .linkstips{
        gap: 150px;
    }


    .mostfootercontenttips{
        padding-top: 10px;
        flex-direction: column;
        gap: 40px;
    }
    

    .mostfootercontenttips span{
        max-width: 450px;
    }


}


@media (max-width:992px){


    .navbar-content-tips{
        justify-content: space-around;
        align-items: center;
    }

    .navbar-content-tips ul{
       display: none;
    }

    .navbar-barsIcontips{
        display: inline-block;
        cursor: pointer;
        color: #ffff;
        font-size: 25px;
    }



    .tips-text-container{
        display: flex;
        flex-direction: column;
        gap: 30px;

    }

    
    .textoverlay img{
        max-width:500px;
    }

    .tips-text-container .text1 p{
        position: absolute;
        bottom: 40px;
        left: 80px;
        max-width: 350px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size:25px;
        line-height: 35px;
        color:rgba(78, 75, 102, 1);
    }

    .tips-text-container .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 400px;
        font-family: lato-Bold;
        font-size: 20px;
        line-height: 24px;
        text-align: justify;
    
    }

    .travel-boxs{
        margin: auto;
        max-width: 1000px;
    }

    .travel-box{
        max-width: 350px;
    }

    .travel-box img{
        max-width: 350px;
    }

    table{
        width: 85%;
        max-width: 1400px;
        margin: auto;
    }
    
    table td{
        padding: 20px 30px;
    }

    

    .travel-Boxs{
        max-width: 800px;
        gap: 30px;
        margin: auto;
    }

    .travel-Box img{
        max-width: 320px;
    }

    .travel-Box-text{
        max-width: 300px;
        bottom: 50px;
    }

    .travel-Box-text-child{
        flex-direction: column;
    }

    .email-addresbtntips{
        flex-direction: column;
    }

    .email-addresbtntips p{
        text-align: center;
    }
    

    .email-addresbtntips .inputbtn{
        position: relative;
        flex-direction: column;
        bottom: -10px;
        justify-content: center;
        align-items: center;

    }


    .email-addresbtntips button{
     margin: 30px auto;
     display: flex;
     justify-content: center;
     align-items: center;
    }


    .email-addresbtntips input[type="text"]{
        width: 100%;
        max-width: 800px;
       
    }

    .header-footertips {
        margin: auto;
        max-width: 250px;


    }

    .header-footerimg{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .header-footerimg img{
        max-width: 100px;
        margin: auto;
    }

    .footerlinktips {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .p-conatiner1{
        display: none;
    }


    .mostfootercontenttips {
        padding-top: 10px;
        flex-direction: column;
        gap: 20px;
    }
    

    .linkstips {
        gap: 50px;
    }


    .mostfootercontenttips  span{
        max-width: 250px;
    }

}




@media (max-width:768px){

    .navbar-content-tips{
        justify-content: space-around;
        align-items: center;
    }
    

    .navbar-content-tips ul{
        display: none;
    }

    .navbar-barsIcontips{
        display: inline-block;
        cursor: pointer;
        color: #ffff;
        font-size: 25px;
    }


    .locationimg{
        display: none;
    }

    .tips-text{
        font-size: 30px;

    
    }

    .textoverlay img{
        max-width:300px;
    }

    .tips-text-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .tips-text-container .text1 p{
        position: absolute;
        bottom: 20px;
        left: 50px;
        max-width: 200px;
        font-family: Roboto-Bold;
        font-weight: 400;
        font-size: 14px;
        line-height:25px;
        color:rgba(78, 75, 102, 1);
    }

    .tips-text-container .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 300px;
        font-family: lato-Bold;
        font-size: 10px;
        line-height: 18px;
        text-align: justify;
    
    }
    .travel-boxs{
        margin: auto;
        max-width: 500px;
    }

    .travel-box{
        max-width: 350px;
    }

    .travel-box img{
        max-width: 350px;
    }


    table{
        width: 45%;
        max-width: 1400px;
        margin: auto;
    }
    
    table td{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
        padding: 20px 30px;
    }


    .travel-Boxs{
        max-width: 500px;
        margin: auto;
    }

    .travel-Box img{
        max-width: 320px;
    }

    .travel-Box-text{
        max-width: 300px;
        bottom: 50px;
    }

    .travel-Box-text-child{
        flex-direction: column;
    }

    .email-addresbtntips p{
        display: none;
    }

    .textoverlay img{
        max-width:350px;
    }


    .email-addresbtntips{
        flex-direction: column;
    }

    .email-addresbtntips p{
        text-align: center;
    }
    

    .email-addresbtntips .inputbtn{
        position: relative;
        flex-direction: column;
        bottom: -10px;
        justify-content: center;
        align-items: center;

    }


    .email-addresbtntips button{
     margin: 30px auto;
     display: flex;
     justify-content: center;
     align-items: center;
    }


    .email-addresbtntips input[type="text"]{
        width: 100%;
        max-width: 800px;
       
    }

    .header-footerAbout{
        margin: auto;
        max-width: 250px;


    }

    .header-footerimg{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .header-footerimg img{
        max-width: 100px;
        margin: auto;
    }

    .footerlinkAbout{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .p-conatiner1{
        display: none;
    }


    .mostfootercontentAbout{
        padding-top: 10px;
        flex-direction: column;
        gap: 20px;
    }
    

    .linksAbout{
        gap: 50px;
    }


    .mostfootercontentAbout span{
        max-width: 250px;
    }


}

@media (max-width: 576px) {

    .travellogoimgtips img{
        max-width: 100px;
    }
     

    .navbar-content-tips{
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    

    
    .navbar-content-tips ul{
        display: none;
    }
    
    .navbar-barsIcontips{
        display: inline-block;
        cursor: pointer;
        color: #ffff;
        font-size: 25px;
    }

    .locationimg{
        display: none;
    }

    .tips-text{
        font-size: 30px;

    
    }

    .textoverlay img{
        max-width:220px;
    }

    .tips-text-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .tips-text-container .text1 p{
        position: absolute;
        bottom: 20px;
        left: 25px;
        width: 180px;
        font-family: Roboto-Bold;
        margin: auto;
        font-weight: 400;
        font-size: 12px;
        line-height: 13px;
        color:rgba(78, 75, 102, 1);
    }

    .tips-text-container .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 200px;
        font-family: lato-Bold;
        font-size: 10px;
        line-height: 12px;
        margin: auto;
        text-align: justify;
    
    }

    .travel-box{
        max-width: 300px;
    }

    .travel-box img{
        max-width: 300px;
    }

    .email-addresbtntips{
        flex-direction: column;
    }

    .email-addresbtntips p{
        text-align: center;
    }
    

    .email-addresbtntips .inputbtn{
        position: relative;
        flex-direction: column;
        bottom: -10px;
        justify-content: center;
        align-items: center;

    }


    .email-addresbtntips button{
     margin: 30px auto;
     display: flex;
     justify-content: center;
     align-items: center;
    }


    .email-addresbtntips input[type="text"]{
        width: 100%;
        max-width: 800px;
       
    }

    .email-addresbtntips{
        margin: auto;
        max-width: 250px;


    }

    .header-footerimg{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .header-footerimg img{
        max-width: 100px;
        margin: auto;
    }

    .footerlinktips{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .p-conatiner1{
        display: none;
    }


    .mostfootercontenttips{
        padding-top: 10px;
        flex-direction: column;
        gap: 20px;
    }
    

    .linkstips{
        gap: 50px;
    }


    .mostfootercontenttips span{
        max-width: 250px;
    }

    .email-addresbtntips p{
        display: none;
    }

  
    



}



@media (max-width: 360px) {

    .travellogoimgtips img{
        max-width: 100px;
    }
     

    .navbar-content-tips{
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    

    
    .navbar-content-tips ul{
        display: none;
    }
    
    .navbar-barsIcontips{
        display: inline-block;
        cursor: pointer;
        color: #ffff;
        font-size: 25px;
    }

    .locationimg{
        display: none;
    }

    .tips-text{
        font-size: 30px;

    
    }

    .textoverlay img{
        max-width:180px;
    }

    .tips-text-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .tips-text-container .text1 p{
        position: absolute;
        bottom: 12px;
        left: 10px;
        width: 180px;
        font-family: Roboto-Bold;
        margin: auto;
        font-weight: 400;
        font-size: 12px;
        line-height: 13px;
        color:rgba(78, 75, 102, 1);
    }

    .tips-text-container .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 180px;
        font-family: lato-Bold;
        font-size: 10px;
        line-height: 12px;
        margin: auto;
        text-align: justify;
    
    }

    .travel-box{
        max-width: 250px;
    }

    .travel-box img{
        max-width: 250px;
    }

    .email-addresbtntips.inputbtn{
        position: relative;
        flex-direction: column;
        bottom: 30px;
        justify-content: center;
        align-items: center;

    }

    .email-email-addresbtntips button{
     margin: 30px auto;
     display: flex;
     justify-content: center;
     align-items: center;
    }

    .email-addresbtntips input[type="text"]{
        width: 100%;
        max-width: 800px;
       
    }

    .email-addresbtntips p{
        display: none;
    }

    .header-footertips{
        margin: auto;
        max-width: 250px;


    }

    .header-footerimg{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .header-footerimg img{
        max-width: 100px;
        margin: auto;
    }

    .footerlinktips{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .p-conatiner1{
        display: none;
    }


    .mostfootercontenttips{
        padding-top: 10px;
        flex-direction: column;
        gap: 20px;
    }
    

    .mostfootercontenttips span{
        max-width: 250px;
    }


    

  

}


@media (max-width: 320px) {

    .travellogoimgtips img{
        max-width: 100px;
    }
     

    .navbar-content-tips{
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    

    
    .navbar-content-tips ul{
        display: none;
    }
    
    .navbar-barsIcontips{
        display: inline-block;
        cursor: pointer;
        color: #ffff;
        font-size: 25px;
    }

    .locationimg{
        display: none;
    }

    .tips-text{
        font-size: 30px;

    
    }

    .textoverlay img{
        max-width:180px;
    }

    .tips-text-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .tips-text-container .text1 p{
        position: absolute;
        bottom: 12px;
        left: 10px;
        width: 180px;
        font-family: Roboto-Bold;
        margin: auto;
        font-weight: 400;
        font-size: 12px;
        line-height: 13px;
        color:rgba(78, 75, 102, 1);
    }

    .tips-text-container .text2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 180px;
        font-family: lato-Bold;
        font-size: 10px;
        line-height: 12px;
        margin: auto;
        text-align: justify;
    
    }


    .email-addresbtntips .inputbtn{
        position: relative;
        flex-direction: column;
        bottom: 30px;
        justify-content: center;
        align-items: center;

    }

    .email-addresbtntips button{
     margin: 30px auto;
     display: flex;
     justify-content: center;
     align-items: center;
    }

    .email-addresbtntips input[type="text"]{
        width: 100%;
        max-width: 800px;
       
    }

    .header-footertips{
        margin: auto;
        max-width: 250px;


    }

    .header-footerimg{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .header-footerimg img{
        max-width: 100px;
        margin: auto;
    }

    .footerlinktips{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .p-conatiner1{
        display: none;
    }


    .mostfootercontenttips{
        padding-top: 10px;
        flex-direction: column;
        gap: 20px;
    }
    

    .mostfootercontenttips span{
        max-width: 250px;
    }

    .travel-box{
        max-width: 250px;
    }

    .travel-box img{
        max-width: 250px;
    }
    

  




}




